@model semiphp.Models.Spec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fGetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fGetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fInstitution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
